<div class="container">
    <nav class="navbar navbar-fedault">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a routerLink="">List</a>
                    </li>
                    <li>
                        <a routerLink="/expense/0">Detail</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <router-outlet></router-outlet>
    </div>
</div>