<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>date</th>
            <th>amount</th>
        </tr>
    </thead>

    <tbody>
        <tr  *ngFor="let expense of expenses | orderBy : orderByPropName" [class.expensive]="expense.amount > 1000">
            <td zoom="3">{{ expense.id }}</td>
            <td zoom="2">{{ expense.description }}</td>
            <td zoom="1">{{ expense.dateOfExpense | date : 'longDate' }}</td>
            <td zoom="3">{{ expense.amount | currency : 'EUR' : true }}</td>
        </tr>
    </tbody>
</table>