<div class="container">
  <h1>
    {{title}}
  </h1>
  <h2>
    {{ subtitle }}
  </h2>
  <div class="jumbotron">
    <div class="row" *ngIf="!hideSign" (click)="signClicked()">
      <img [src]="img" width="50px" class="col-lg-1 col-lg-offset-11" style="display:block;" />
    </div>
    <div class="panel">
      <table class="table">
        <thead>
          <tr>
            <th>Sequence</th>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses; trackBy: id">
            <td>{{expense.id}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.dateOfExpense | date : 'longDate' }}</td>
            <td>{{expense.amount | currency : 'EUR' : true }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>