<div class="container">
  <h1>
    {{title}}
  </h1>
  <h2>
    {{ subtitle }}
  </h2>
  <div class="jumbotron">
    <div class="row" *ngIf="!hideSign" (click)="signClicked()">
      <img [src]="img" width="50px" class="col-lg-1 col-lg-offset-11" style="display:block;" />
    </div>
    <div class="panel">
      <expense-list-sorting [exampleObject]="expenses[0]" (sortingChanged)="changeSorting($event)"></expense-list-sorting>
      <expense-list [expenses]="expenses" [orderBy]="sortBy"></expense-list>
      <expense-form (newExpense)="addExpense($event)"></expense-form>
    </div>

  </div>
</div>